
<!DOCTYPE html>
<html lang="es">
<head>
	<title>
		ArriendaYA - {% block title %}Index{% endblock %}
	</title>
	 {% load bootstrap5 %}
	 {% bootstrap_css %}
	 {% bootstrap_javascript %}
</head>
<body class="d-flex flex-column min-vh-100">
	{% include "navbar.html" %}
	<div class="container-fluid bg-warning bg-opacity-75">
		<div class="container py-5">
			{% block hero %}{% endblock  %}
		</div>
	</div>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	{% include "footer.html" %}
</body>
</html>
